[Unit]
Description=Run the bootstrap.sh script at first boot
Requires=network.target network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
PAMName=login
ExecStart=/usr/lib/raspi-config/bootstrap.sh

[Install]
WantedBy=multi-user.target
