[Unit]
Description=MAME Boot Splash Screen service
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/fim -q --no-history /home/pi/splash/mame-boot.jpg
SuccessExitStatus=42
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
