[Unit]
Description=Shutdown and poweroff service
After=mame-autostart.service

[Service]
ExecStart=/sbin/poweroff
StandardInput=tty

[Install]
WantedBy=multi-user.target
